USE [master]
GO
/****** Object:  Database [STUDENT_MS]    Script Date: 12/16/2024 12:31:55 AM ******/
CREATE DATABASE [STUDENT_MS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'STUDENT_MS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STUDENT_MS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'STUDENT_MS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\STUDENT_MS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STUDENT_MS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STUDENT_MS]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Dob] [date] NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Cid] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Credit] [int] NULL,
	[StartDay] [date] NULL,
	[EndDay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturer]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturer](
	[ID] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Dob] [date] NULL,
	[FID] [varchar](20) NULL,
	[HireDate] [date] NULL,
	[AcademicQual] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[LecturerID] [varchar](20) NOT NULL,
	[Amount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LecturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Dob] [date] NULL,
	[Major] [varchar](50) NULL,
	[FID] [varchar](20) NULL,
	[StudyDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentCourse]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentCourse](
	[Cid] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Credit] [int] NULL,
	[StartDay] [date] NULL,
	[EndDay] [date] NULL,
	[StudentID] [varchar](20) NOT NULL,
	[Midterm] [float] NULL,
	[Final] [float] NULL,
 CONSTRAINT [PK_StudentCourse] PRIMARY KEY CLUSTERED 
(
	[Cid] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tuition]    Script Date: 12/16/2024 12:31:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuition](
	[StudentID] [varchar](20) NOT NULL,
	[Amount] [decimal](18, 0) NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([ID], [Password]) VALUES (N'admin01', N'1')
INSERT [dbo].[Account] ([ID], [Password]) VALUES (N'L2024', N'1')
INSERT [dbo].[Account] ([ID], [Password]) VALUES (N'S23CS02', N'1')
GO
INSERT [dbo].[Admin] ([ID], [Name], [Gender], [Dob], [HireDate]) VALUES (N'AD001', N'John Smith', N'Male', CAST(N'1985-07-12' AS Date), CAST(N'2022-03-15' AS Date))
INSERT [dbo].[Admin] ([ID], [Name], [Gender], [Dob], [HireDate]) VALUES (N'AD002', N'Alice Johnson', N'Female', CAST(N'1990-04-21' AS Date), CAST(N'2023-08-01' AS Date))
INSERT [dbo].[Admin] ([ID], [Name], [Gender], [Dob], [HireDate]) VALUES (N'AD003', N'Bob Williams', N'Male', CAST(N'1988-11-05' AS Date), CAST(N'2024-01-10' AS Date))
GO
INSERT [dbo].[Course] ([Cid], [Name], [Credit], [StartDay], [EndDay]) VALUES (N'CS101', N'Intro to Programming', 3, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date))
INSERT [dbo].[Course] ([Cid], [Name], [Credit], [StartDay], [EndDay]) VALUES (N'CS201', N'Data Structures', 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date))
INSERT [dbo].[Course] ([Cid], [Name], [Credit], [StartDay], [EndDay]) VALUES (N'CT110', N'HCM Idealogy', 2, CAST(N'2024-12-02' AS Date), CAST(N'2024-12-02' AS Date))
GO
INSERT [dbo].[Lecturer] ([ID], [Name], [Gender], [Dob], [FID], [HireDate], [AcademicQual]) VALUES (N'L1', N'JOHN', N'Male', CAST(N'1999-02-02' AS Date), N'PH', CAST(N'2024-02-02' AS Date), N'PhD')
INSERT [dbo].[Lecturer] ([ID], [Name], [Gender], [Dob], [FID], [HireDate], [AcademicQual]) VALUES (N'L2024', N'Dr. Maria Rodriguez', N'Female', CAST(N'1985-08-10' AS Date), N'CS', CAST(N'2024-03-15' AS Date), N'Professor')
GO
INSERT [dbo].[Salary] ([LecturerID], [Amount]) VALUES (N'L2024', 20000)
GO
INSERT [dbo].[Student] ([ID], [Name], [Gender], [Dob], [Major], [FID], [StudyDate]) VALUES (N'S23CS02', N'Huu Truc', N'Male', CAST(N'2003-05-10' AS Date), N'Information Technology', N'CS', CAST(N'2023-09-01' AS Date))
INSERT [dbo].[Student] ([ID], [Name], [Gender], [Dob], [Major], [FID], [StudyDate]) VALUES (N'ST003', N'Olivia Wilson', N'Female', CAST(N'2004-04-12' AS Date), N'Physics', N'PH', CAST(N'2024-09-01' AS Date))
INSERT [dbo].[Student] ([ID], [Name], [Gender], [Dob], [Major], [FID], [StudyDate]) VALUES (N'ST004', N'James Rodriguez', N'Male', CAST(N'2003-08-28' AS Date), N'Computer Science', N'CS', CAST(N'2023-09-01' AS Date))
GO
INSERT [dbo].[StudentCourse] ([Cid], [Name], [Credit], [StartDay], [EndDay], [StudentID], [Midterm], [Final]) VALUES (N'CS201', N'Data Structures', 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), N'S23CS02', 9, 10)
INSERT [dbo].[StudentCourse] ([Cid], [Name], [Credit], [StartDay], [EndDay], [StudentID], [Midterm], [Final]) VALUES (N'CS201', N'Data Structures', 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), N'ST004', 76.5, 81)
INSERT [dbo].[StudentCourse] ([Cid], [Name], [Credit], [StartDay], [EndDay], [StudentID], [Midterm], [Final]) VALUES (N'CT110', N'HCM Idealogy', 2, CAST(N'2024-12-02' AS Date), CAST(N'2024-12-02' AS Date), N'S23CS02', 0, 0)
GO
INSERT [dbo].[Tuition] ([StudentID], [Amount], [IsPaid]) VALUES (N'S23CS02', CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[Tuition] ([StudentID], [Amount], [IsPaid]) VALUES (N'ST003', CAST(0 AS Decimal(18, 0)), 1)
INSERT [dbo].[Tuition] ([StudentID], [Amount], [IsPaid]) VALUES (N'ST004', CAST(12000 AS Decimal(18, 0)), 0)
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK__Salary__Lecturer__398D8EEE] FOREIGN KEY([LecturerID])
REFERENCES [dbo].[Lecturer] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK__Salary__Lecturer__398D8EEE]
GO
ALTER TABLE [dbo].[StudentCourse]  WITH CHECK ADD  CONSTRAINT [FK__StudentCo__Stude__5535A963] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentCourse] CHECK CONSTRAINT [FK__StudentCo__Stude__5535A963]
GO
ALTER TABLE [dbo].[Tuition]  WITH CHECK ADD  CONSTRAINT [FK__Tuition__Student__3E52440B] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tuition] CHECK CONSTRAINT [FK__Tuition__Student__3E52440B]
GO
USE [master]
GO
